body{
    background: #FAFAFA;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#container{
    margin: 40px auto;
}

.produit span{
    margin:0 1em 0 1em;
    vertical-align: middle;

}